@font-face {
  font-family: SmoothStone-Regular;
  src: url(../fonts/SmoothStone-Regular.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); main {
}

.container {
  margin-top: 30px;
  overflow: hidden;
}

#logoId {
  position: relative;
  left: 35%;
  max-width: 200px;
}

#logoTextMoonlight {
  font-family: Brisk Inline Grunge;
  font-size: 100px;
  color: #e03c42;
}

#logoTextRadio {
  font-family: SmoothStone-Regular;
  font-size: 100px;
  color: #83ffd6;
  margin-left: 320px;
  margin-top: -100px;
}

body {
  background-color: #030f33;
  background-image: url(../img/backgrong.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}

nav {
  font-size: 24px;
  font-weight: ;
  margin: 50px auto;

  height: 40px;
}

header {
  min-height: 300px;
}

ul {
  width: 500px;
  margin: auto;
  list-style: none;
}

li {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px dotted #e8ecff;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #c5c9d9;
}

li a:hover {
  color: #333;
  border-bottom: 2px solid #E03C42;
}

li.active a {
  color: #E03C42;
  font-weight: normal;
  border-bottom: none;
}

.menu-icon a img {
  display: none;
}

#playList {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  /*grid-gap: auto;*/
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: " a b c d ";
}

/*#playList img {*/
/*border-radius: 2%;*/
/*border: 1px solid #FC244D;*/
/*width: 200px;*/
/*height: 200px;*/
/*}*/
#gridAreaA {
  grid-area: a;
  align-self: center;
  justify-self: center;
  background-image: url("../img/playlistImg1.jpg");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  border: 1px solid #83ffd6;
  width: 200px;
  height: 200px;
}

.hoverImageText {
  height: 198px;
  color: #E03C42;
  font-size: 40px;
  text-align: center;
  padding: 8px;
  padding-top: 25%;
  background-color: rgba(228, 237, 255, 0.53);
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}

.hoverImageText:hover {
  opacity: 1;
  padding-top: 35%;
}

#gridAreaB {
  grid-area: b;
  align-self: center;
  justify-self: center;
  background-image: url("../img/playlistImg2.jpg");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  border: 1px solid #83ffd6;
  width: 200px;
  height: 200px;
}

#gridAreaC {
  grid-area: c;
  align-self: center;
  justify-self: center;
  background-image: url("../img/playlistImg3.jpg");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  border: 1px solid #83ffd6;
  width: 200px;
  height: 200px;
}

#gridAreaD {
  grid-area: d;
  align-self: center;
  justify-self: center;
  background-image: url("../img/playlistImg4.jpg");
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  border: 1px solid #83ffd6;
  width: 200px;
  height: 200px;
}

.beat {
  animation: beat 1s ease infinite;
}

#news {
  display: grid;
  color: #E03C42;
  background-color: rgba(232, 236, 255, 0.08);
  border: 1px solid #83ffd6;
  margin-top: 50px;
  min-height: 200px;
  border-radius: 5px;
  line-height: 22px;
  max-width: 900px;
  box-sizing: border-box;
  margin-left: 10%;
  padding: 15px;
}

#someNews {
  font-size: 20px;
  color: rgba(96, 96, 96, 0.85);
}

#news h1 {
  margin-top: -30px;
}

#news p {
  font-size: 19px;
  margin-top: -20px;
  padding: 40px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #c5c9d9;
}

#feedback {
  color: #E03C42;
  max-width: 500px;
  margin-left: 28%;
}

#copy {
  margin-left: 38%;
}

.beat {
  animation: beat 1s ease infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1199px) {
  #playList div {
    width: 170px;
    height: 170px;
  }

  #news {
    margin-left: 2%;
  }

  .container {
    margin-top: -70px;
  }

  nav {
    margin-top: 150px;
  }

  #feedback {
    margin-top: 150px;
    margin-left: 23%;
  }
}

@media screen and (max-width: 991px) {
  #playList div {
    width: 150px;
    height: 150px;
  }

  #news {
    margin-left: 0;
  }

  #logoId {
    margin-top: -100px;
  }

  #logoTextMoonlight {
    font-size: 70px;
  }

  #logoTextRadio {
    font-size: 70px;
  }

  nav {
    margin-top: 150px;
  }

  #feedback {
    margin-top: 100px;
    margin-left: 16%;
  }
}

@media screen and (max-width: 660px) {
  #playList {
    grid-template-areas: ". a b ." ". c d .";
  }

  nav {
    min-height: 0;
  }

  #logoId {
    margin-top: -200px;
    left: 15%;
  }

  #feedback {
    margin-left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .menu-icon a img {
    display: inline;
    max-width: 50px;
    margin-top: 100px;
    margin-left: 50px;
  }

  header {
    background-image: none;
    height: auto;
    margin: auto;
  }

  li {
    float: none;
    border-right: none;
  }

  nav {
    margin-top: 10px;
    margin-left: -6px;
  }

  #logoId {
    left: 25%;
  }

  #logoTextMoonlight {
    font-size: 40px;
  }

  #logoTextRadio {
    font-size: 40px;
    margin-left: 150px;
    margin-top: -50px;
  }

  main {
    margin-top: 200px;
  }

  #feedback {
    margin-left: 0;
  }
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgba(232, 236, 255, 0.08);
  border: 2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #E03C42;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #E03C42;
}
form > div {
  position: relative;
  overflow: hidden;

}

form > div > input, textarea {
  display: block;
  width: inherit;
  height: inherit;
  padding: 10px 5px 0 10px;
}
form > div > label {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 13px;
  left: 10px;
  font-size: 1em;
  color: #666;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
form > div > input:focus + label, form > div > input:valid + label {
  font-size: 0.75em;
  color: #999;
  top: 2px;
  left: 3px;
}

form > div > textarea:focus + label, form > div > textarea:valid + label {
  font-size: 0.75em;
  color: #999;
  top: 2px;
  left: 3px;
}