  body {
    background-color: #030f33;
    background-image: url(../img/backgrong.svg);

    background-repeat: no-repeat;
    background-size: 100%;
  }
  nav {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 50px auto;
    width: 500px;
    height: 40px;

  }

  ul {
    width: 500px;
    margin: auto;
    list-style: none;
  }

  li {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px dotted #e8ecff;
  }

  li:last-child {
    border: none;
  }

  li a {
    text-decoration: none;
    color: #c5c9d9;
  }

  li a:hover {
    color: #333;
    border-bottom: 2px solid #FC244D;
  }

  li.active a {
    color: #FC244D;
    font-weight: normal;
    border-bottom: none;
  }
  .menu-icon a img{
   display: none;
  }

  #playList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
  }
  #playList img{
    border-radius: 2%;
    border: 1px solid #FC244D;
  }

  @media screen and (max-width: 500px) {

  .menu-icon a img{
    width: 35px;
    display: inline;
    height: 30px;
    margin-bottom: -55px;
    margin-left: 36px;
  }
    header {
      background-image: none;
      height: auto;
      margin: auto;
    }
    li {
      float: none;
      border-right: none;
    }
    ul {
      margin-left: -20px;
    }
}
