body {
  background-color: #030f33;
  background-image: url(../img/backgrong.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}

nav {
  font-size: 24px;
  font-weight: 300;
  margin: 50px auto;
  width: 500px;
  height: 40px;
}

header {
  height: 500px;
}

ul {
  width: 500px;
  margin: auto;
  list-style: none;
}

li {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px dotted #e8ecff;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #c5c9d9;
}

li a:hover {
  color: #333;
  border-bottom: 2px solid #FC244D;
}

li.active a {
  color: #FC244D;
  font-weight: normal;
  border-bottom: none;
}

.menu-icon a img {
  display: none;
}

#playList {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  /*grid-gap: auto;*/
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: " a b c d ";
}

#playList img {
  border-radius: 2%;
  border: 1px solid #FC244D;
  width: 200px;
  height: 200px;
}

#gridAreaA {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

#gridAreaB {
  grid-area: b;
  align-self: center;
  justify-self: center;
}

#gridAreaC {
  grid-area: c;
  align-self: center;
  justify-self: center;
}

#gridAreaD {
  grid-area: d;
  align-self: center;
  justify-self: center;
}

.menu li a.active {
  color: #333;
  border-bottom: 2px solid #FC244D;
}

.beat {
  animation: beat 1s ease infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.news {
  display: grid;
  color: #FC244D;
}
#feedback {
  color: #FC244D;
  max-width: 660px;
}

@media screen and (max-width: 1000px) {
  #playList img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 660px) {
  #playList {
    grid-template-areas: ". a b ." ". c d .";
  }
}

@media screen and (max-width: 500px) {
  .menu-icon a img {
    width: 35px;
    display: inline;
    height: 30px;
    margin-bottom: -55px;
    margin-left: 36px;
  }

  header {
    background-image: none;
    height: auto;
    margin: auto;
  }

  li {
    float: none;
    border-right: none;
  }

  ul {
    margin-left: -20px;
  }

  #playList img {
    width: 150px;
    height: 150px;
  }
}
